@model TicketCore.ViewModels.Knowledgebase.KnowledgebaseArticleViewModel
@using TicketCore.Web.Resources
@inject LocalizationService LocalizationService
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">@LocalizationService.GetLocalizedHtmlString("Search")</h3>
        </div>
        <div class="card-body register-card-body">

            <div class="form-row">
                <div class="form-group col-md-8">
                    <label asp-for="Subject"></label>
                    @Html.Raw(Model.Subject)
                </div>
            </div>
            <hr />
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="DepartmentName"></label>
                    <br />
                    @Html.Raw(Model.DepartmentName)
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="KnowledgebaseTypeName"></label>
                    <br />
                    @Html.Raw(Model.KnowledgebaseTypeName)
                </div>
            </div>
            <hr />
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Contents"></label>
                    <br />
                    @Html.Raw(Model.Contents)
                </div>
            </div>
            <hr />
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label asp-for="Keywords"></label>
                    <br />
                    @Html.Raw(Model.Keywords)
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Status"></label>
                    <br />
                    @Html.Raw(Model.Status)
                </div>
            </div>
        </div>
        <div class="card-footer">

        </div>
    </div>

    <div class="card card-cyan card-outline">
        <div class="card-header">
            <h3 class="card-title">Article Attachments</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <div class="card-body register-card-body">
            <div class="form-row">
                <div class="form-group col-md-6">

                    @if (Model.ListofAttachments != null)
                    {
                        @if (Model.ListofAttachments.Any())
                        {

                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Attachment</th>
                                        <th>Download</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var attachment in Model.ListofAttachments)
                                    {
                                        <tr>
                                            <td>@attachment.OriginalAttachmentName</td>
                                            <td>
                                                <a class="btn btn-primary"
                                                   data-toggle="tooltip" data-placement="top"
                                                   title="Download Attachment !" onclick="downloadAttachment('@Model.KnowledgebaseId', '@attachment.KnowledgebaseAttachmentsId')" href="javascript:void(0);"> <i class="fa fa-download"></i> Download </a>

                                            </td>
                                            <td>
                                                <a data-toggle="tooltip"
                                                   data-placement="top"
                                                   title="Delete Attachment !"
                                                   class="btn btn-danger" onclick="deleteAttachment('@attachment.KnowledgebaseId', '@attachment.KnowledgebaseAttachmentsId')" href="javascript:void(0);"> <i class="fa fa-trash"></i> Delete </a>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>

                        }
                        else
                        {
                            <p>        @LocalizationService.GetLocalizedHtmlString("NoAttachments") </p>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function downloadAttachment(knowledgebaseId, attachmentsId) {
        window.location = "/AgentManager/Knowledgebase/DownloadAttachment?knowledgeId=" + knowledgebaseId + "&AttachmentId=" + attachmentsId;
    }

    function deleteAttachment(knowledgebaseId, AttachmentsId) {
        var result = confirm("Do you want to delete this attachment!");
        if (result === true) {
            if (AttachmentsId != "") {
                var jsonObject =
                {
                    knowledgebaseId: knowledgebaseId,
                    AttachmentsId: AttachmentsId
                };

                $.ajax({
                    type: "POST",
                    url: "/AgentManager/Knowledgebase/DeleteAttachment",
                    dataType: "json",
                    data: jsonObject,
                    success: function (data, textStatus, xhr) {
                        if (data.Status === true) {
                            alert("Attachment Deleted Successfully");
                            location.reload();
                        } else {
                            alert("Something Went Wrong While Deleting Ticket Please Try Again after Sometime!");
                        }

                    },
                    error: function (xhr, status, err) {
                        if (xhr.status == 400) {
                            DisplayModelStateErrors(xhr.responseJSON.ModelState);
                        }
                    }
                });
            }
        }
    }
</script>